@import "tailwindcss";

:root {
  font-family: "Sora", "Avenir Next", sans-serif;
  color: #14213d;
  background-color: #f4f6fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}
